<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проекты</title>
</head>
<body>
    <h1>Список проектов</h1>
    <h2>Фильтр</h2>
    <form method="post" action="/project/filter/">
        {% csrf_token %}
        {{ filter }}
        <input type="submit" value="Фильтр">
    </form>
    <!-- отправка GET запроса к методу create_project -->
    <a href="/project/create/">Create</a>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название проекта</th>
            <th>Email</th>
            <th>Кол-во чел</th>
            <th>Подробнее</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.email }}</td>
                <td>{{ project.countUser }}</td>
                <td><a href="">Подробнее</a></td>
                <td><a href="/project/update/{{ project.id }}">Редактировать</a></td>
                <td><a href="/project/delete/{{ project.id }}">Удалить</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>